<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>
<body>


  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Welcome to Dashboards</h3>
    </div>
    <div class="panel-body">
      <div class="container">
        <a class="btn btn-danger btn-block" href="line">Line</a>
        <a class="btn btn-warning btn-block" href="pie">Pie</a>
        <a class="btn btn-primary btn-block" href="bar">Bar</a>
        <a class="btn btn-success btn-block" href="map">Maps</a>
        <a class="btn btn-info btn-block" href="login">Admin Panel</a>
      </div>


    </div>
  </div>
</body>
</html>
