<!DOCTYPE HTML>
<html>
<head>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</head>
<body>
<p id="data"hidden><%= chartData%></p>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script>
window.onload = function () {
  var data = document.getElementById("data").innerHTML
  let chartData = JSON.parse(data);
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
  zoomEnabled: true,
	theme: "light2",
	title:{
		text: "Data Date"
	},
	axisY:{
		includeZero: false
	},
	data: [{
		type: "line",
		dataPoints: chartData
	}]
});
chart.render();

}
</script>
</body>
</html>
