<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <script src="/javascripts/jquery-2.x-git.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Content Management System</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/home">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="/data">Data</a></li>
          <li><a href="/datadate">Data Date</a></li>
          <li><a href="/maps">Maps</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>



  <div class="container ">
    <div id="success-add-alert"class="alert alert-success" hidden>
      <strong>Success!</strong> new data has been added to the database
    </div>
    <div id="success-edit-alert"class="alert alert-success" hidden>
      <strong>Success!</strong> data has been edited
    </div>

    <div id="success-delete-alert" class="alert alert-info" hidden>
      <strong>Success!</strong> data has been deleted
    </div>


    <div id="warning-inputnotnumber-alert" class="alert alert-danger" hidden>
      <strong>Warning!</strong> please input only number
    </div>


    <div class="">
      <div id="add-button" class="container">
        <button class="btn btn-primary" type="button" name="button">Add</button>

      </div>
      <br/>
      <div id="control-form-div" class="container" hidden>
        <div class="jumbotron">
          <form id="control-form" class="form-inline" method="post">
            <div class="form-group">
              <label for="">Title:</label>
              <input id="title-add" type="text" class="form-control" name="letter" value="" required>
            </div>
            <div class="form-group">
              <label for="">Lat:</label>
              <input id="lat-add" type="float" class="form-control" name="frequency" placeholder="0.00000"value="" required>
            </div>
            <div class="form-group">
              <label for="">Lng:</label>
              <input id="lng-add" type="float" class="form-control" name="frequency" placeholder="0.00000"value="" required>
            </div>
            <button type="submit" class="btn btn-default" href="#">Save</button>
          </form>
        </div>
      </div>


      <h1>Search</h1>
      <hr/>

      <form id="search-form" class="form-inline" method="post">
        <div class="form-group">
          <label for="">Title:</label>
          <input id="title-search" type="text" class="form-control" name="letter" value="">
        </div>
      </form>


      <div class="">
        <table id="datadate-table" class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>title</th>
              <th>lat</th>
              <th>lng</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>

    </div>
  </div>

  <script type="text/javascript">
  var idedit = ""
  $(document).ready(function(){
    drawTable();
    add();
    edit();
    remove();
    save();
    search();
  });

  function hideAlert() {
    if($('#success-add-alert').attr('hidden') !== 'hidden') {$('#success-add-alert').attr('hidden', 'true')}
    if($('#success-edit-alert').attr('hidden') !== 'hidden') {$('#success-edit-alert').attr('hidden', 'true')}
    if($('#success-delete-alert').attr('hidden') !== 'hidden') {$('#success-delete-alert').attr('hidden', 'true')}
    if($('#warning-inputnotnumber-alert').attr('hidden') !== 'hidden') {$('#warning-inputnotnumber-alert').attr('hidden', 'true')}
  }

  function drawTable(searchData) {
    if(!searchData) {
      $.get('http://localhost:3001/api/maps', function(data){
        let html = '';
        for(let i=0; i<data.length; i++) {
          html += "<tr>"
          html += "<td>" + (i + 1) + "</td>"
          html += "<td>" + data[i].title + "</td>"
          html += "<td>" + data[i].lat + "</td>"
          html += "<td>" + data[i].lng + "</td>"
          html += "<td><button class='btn btn-success btn-edit' type='button' data-id='" + data[i]._id + "'>Edit</button> &nbsp"
          html += "<button class='btn btn-danger btn-delete' type='button' data-id='" + data[i]._id + "'>Delete</button></td>"
          html += "</tr>"
        }
        $("#datadate-table tbody").html(html);
      });
    } else {
      let html = '';
      if(searchData.length > 0) {
        for(let i=0; i<searchData.length; i++) {
          html += "<tr>"
          html += "<td>" + (i + 1) + "</td>"
          html += "<td>" + searchData[i].title + "</td>"
          html += "<td>" + searchData[i].lat + "</td>"
          html += "<td>" + searchData[i].lng + "</td>"
          html += "<td><button class='btn btn-success btn-edit' type='button' data-id='" + searchData[i]._id + "'>Edit</button> &nbsp"
          html += "<button class='btn btn-danger btn-delete' type='button' data-id='" + searchData[i]._id + "'>Delete</button></td>"
          html += "</tr>"
          $("#datadate-table tbody").html(html);
        }
      } else {
          $("#datadate-table tbody").html(html);
      }
    }
  }

  function add() {
    $('#add-button').on('click', '.btn-primary', function(){
      idedit = "";
      // console.log($('#control-form-div')[0].attributes);
      // console.log($('#control-form-div').attr('hidden'));
      if($('#control-form-div').attr('hidden') === 'hidden') {
        hideAlert()
        $('#control-form-div').removeAttr('hidden')
        $('#title-add').val('');
        $('#lat-add').val('');
        $('#lng-add').val('');
      } else {
        $('#control-form-div').attr('hidden', 'true')
        $('#title-add').val('');
        $('#lat-add').val('');
        $('#lng-add').val('');
      }
    })
  }

  function save() {
    $('#control-form').submit(function(e){
      e.preventDefault();
      if(idedit !== "") {
        $.ajax({
          method: "PUT",
          url: "http://localhost:3001/api/maps/" +  idedit,
          data: {
            title: $(this).serializeArray()[0].value,
            lat: $(this).serializeArray()[1].value,
            lng: $(this).serializeArray()[2].value
          }
        }).done(function(data){
          idedit = "";
          $('#title-add').val('');
          $('#lat-add').val('');
          $('#lng-add').val('');
          $('#control-form-div').attr('hidden', 'false')
          hideAlert()
          $('#success-edit-alert').removeAttr('hidden')
          drawTable();
        })
      } else {
        $.ajax({
          method: "POST",
          url:  "http://localhost:3001/api/maps/",
          data: {
            title: $(this).serializeArray()[0].value,
            lat: $(this).serializeArray()[1].value,
            lng: $(this).serializeArray()[2].value
          }
        }).done(function(data){
          console.log(data);
          idedit = "";
          $('#title-add').val('');
          $('#lat-add').val('');
          $('#lng-add').val('');
          $('#control-form-div').attr('hidden', 'false')
          hideAlert()
          $('#success-add-alert').removeAttr('hidden')
          drawTable();
        })
      }
    })
  }

  function edit() {
    $('#datadate-table tbody').on('click', '.btn-edit', function(){
      $.get('http://localhost:3001/api/maps/' + $(this).attr("data-id"), function(data){
        idedit = data.data._id;
        if($('#control-form-div').attr('hidden') === 'hidden') {
          $('#control-form-div').removeAttr('hidden')
          $('#title-add').val(data.data.title);
          $('#lat-add').val(data.data.lat);
          $('#lng-add').val(data.data.lng);
          idedit = data.data._id;
        } else {
          $('#title-add').val(data.data.title);
          $('#lat-add').val(data.data.lat);
          $('#lng-add').val(data.data.lng);
          idedit = data.data._id;
        }
      })
    })
  }

  function remove() {
    $('#datadate-table tbody').on('click', '.btn-delete', function() {
      $.ajax({
        method: "DELETE",
        url: "http://localhost:3001/api/maps/" +  $(this).attr("data-id")
      }).done(function(data) {
        hideAlert()
        $('#success-delete-alert').removeAttr('hidden')
        drawTable()
      })
    })
  }

  function search(){
    $('#search-form').on('keyup', '#title-search', function(){
      hideAlert()
      $.ajax({
        method: 'POST',
        url: "http://localhost:3001/api/maps/search",
        data: {
          title: $('#title-search').val()
        }
      }).done(function(data){
        console.log(data);
        drawTable(data);
      })
    })
  }

  </script>

</body>
</html>
